* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u10_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u12_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u10_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u12_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u14_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u16_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u26_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u28_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u30_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u34_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u36_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u40_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u34_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u36_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u38_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u40_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u34_normal.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u36_normal.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u38_normal.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u40_normal.png");
}

* html .u66_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u66_selected.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="编辑决策树_files/u66_normal.png");
}

