body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:137px;
    top:36px;
    width:149px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:38px;
    top:40px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:613px;
    top:36px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:544px;
    top:36px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:307px;
    top:40px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:25px;
    top:71px;
    width:703px;
    height:131px
}

.u10_normal {
    background-image: url('../编辑决策树_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:365px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../编辑决策树_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:359px;
    top:0px;
    width:121px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../编辑决策树_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:480px;
    top:0px;
    width:104px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../编辑决策树_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:584px;
    top:0px;
    width:114px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../编辑决策树_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:20px;
    width:359px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:365px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../编辑决策树_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:359px;
    top:20px;
    width:121px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../编辑决策树_files/u14_normal.png');
}

.u22_container {
    position:absolute;
    left:480px;
    top:20px;
    width:104px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../编辑决策树_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:584px;
    top:20px;
    width:114px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../编辑决策树_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:40px;
    width:359px;
    height:26px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:365px;
    height:32px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../编辑决策树_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:359px;
    top:40px;
    width:121px;
    height:26px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:32px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../编辑决策树_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:480px;
    top:40px;
    width:104px;
    height:26px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:32px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../编辑决策树_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:584px;
    top:40px;
    width:114px;
    height:26px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../编辑决策树_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:66px;
    width:359px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:365px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../编辑决策树_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:359px;
    top:66px;
    width:121px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../编辑决策树_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:480px;
    top:66px;
    width:104px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../编辑决策树_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:584px;
    top:66px;
    width:114px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../编辑决策树_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:86px;
    width:359px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:365px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../编辑决策树_files/u36_normal.png');
}

.u44_container {
    position:absolute;
    left:359px;
    top:86px;
    width:121px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../编辑决策树_files/u38_normal.png');
}

.u46_container {
    position:absolute;
    left:480px;
    top:86px;
    width:104px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../编辑决策树_files/u40_normal.png');
}

.u48_container {
    position:absolute;
    left:584px;
    top:86px;
    width:114px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../编辑决策树_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:106px;
    width:359px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:365px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../编辑决策树_files/u36_normal.png');
}

.u52_container {
    position:absolute;
    left:359px;
    top:106px;
    width:121px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../编辑决策树_files/u38_normal.png');
}

.u54_container {
    position:absolute;
    left:480px;
    top:106px;
    width:104px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../编辑决策树_files/u40_normal.png');
}

.u56_container {
    position:absolute;
    left:584px;
    top:106px;
    width:114px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:394px;
    top:93px;
    width:101px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:394px;
    top:113px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:512px;
    top:113px;
    width:85px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:614px;
    top:113px;
    width:97px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:512px;
    top:93px;
    width:85px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:613px;
    top:93px;
    width:98px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_selected {
    background-image: url('../编辑决策树_files/u66_selected.png');
}

.u66_normal {
    background-image: url('../编辑决策树_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u67 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u68_container {
    position:absolute;
    left:22px;
    top:0px;
    width:110px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u69 {
    position:absolute;
    left:3px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u71_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u71_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u72 {
    position:absolute;
    left:3px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

