/*kuangjia_css_start*/
html{
     _padding:50px 0px;
}
.layout_left {
     position:absolute;
	 _position:static;
     top:0;
     left:0;
     bottom:0;
     overflow: hidden;
	 _overflow: hidden;
     width:250px;
     _height:100%;
}
.layout_left_top {
	 position:absolute;
     top:0;
     left:0;
     width:100%;
     height:60px;

}
.layout_left_body {
     position:absolute;
     top:60px;
     left:0;
     width:100%;
	 height:40px;
}
.layout_left_bottom {
     position:absolute;
     top:100px;
     right:0;
     bottom:0;
     left:0;
     overflow:auto;
     _overflow:auto;
     width:100%;
     _height:100%;
}




.layout_right{
     position:absolute;
     _position:static;
     top:0;
     right:0;
     bottom:0;
     left:250px;
     overflow: hidden;
     _overflow:hidden;
     _height:100%;
     _margin-left:250px;
}
.close_layout_left{
	 left:0px;
	 _margin-left:0px;
}
.layout_right_top {
	 position:absolute;
     top:0;
     left:0;
     width:100%;
     height:60px;
	 z-index:100;
	 _margin-left:250px;
}
.layout_right_body {
     position:absolute;
     top:60px;
     right:0;
     bottom:40px;
     left:0;
     overflow:auto;
     _overflow:auto;
	 _overflow-x:hidden;
     width:100%;
     _height:100%;
	 _margin-left:250px;
}
.layout_right_bottom {
     position:absolute;
     bottom:0;
     left:0;
     width:100%;
     height:40px;
	 line-height:40px;
	 _margin-left:250px;
	 
}


