body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:195px;
    top:39px;
    width:233px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:35px;
    top:43px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:445px;
    top:39px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u3 {
    position:absolute;
    left:42px;
    top:83px;
    width:640px;
    height:113px
}

.u4_normal {
    background-image: url('../新增参数列表_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:424px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../新增参数列表_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:424px;
    top:0px;
    width:211px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../新增参数列表_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:20px;
    width:424px;
    height:22px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:28px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../新增参数列表_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:424px;
    top:20px;
    width:211px;
    height:22px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:28px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../新增参数列表_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:42px;
    width:424px;
    height:22px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:28px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../新增参数列表_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:424px;
    top:42px;
    width:211px;
    height:22px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:28px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../新增参数列表_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:64px;
    width:424px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:28px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../新增参数列表_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:424px;
    top:64px;
    width:211px;
    height:22px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:28px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../新增参数列表_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:86px;
    width:424px;
    height:22px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:28px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../新增参数列表_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:424px;
    top:86px;
    width:211px;
    height:22px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:28px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_selected {
    background-image: url('../新增参数列表_files/u26_selected.png');
}

.u26_normal {
    background-image: url('../新增参数列表_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u29 {
    position:absolute;
    left:3px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u31_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u31_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u32 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u35 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:22px;
    top:0px;
    width:54px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u38 {
    position:absolute;
    left:3px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39 {
    position:absolute;
    left:535px;
    top:103px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

