body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../编辑节点_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:148px;
    top:137px;
    width:680px;
    height:258px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:264px;
}

.u1 {
    position:absolute;
    left:2px;
    top:121px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:251px;
    top:152px;
    width:233px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:170px;
    top:156px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:170px;
    top:182px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:161px;
    top:253px;
    width:567px;
    height:45px
}

.u6_normal {
    background-image: url('../编辑节点_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../编辑节点_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:42px;
    top:0px;
    width:56px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../编辑节点_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:98px;
    top:0px;
    width:126px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../编辑节点_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:224px;
    top:0px;
    width:138px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../编辑节点_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:362px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../编辑节点_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:462px;
    top:0px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../编辑节点_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:20px;
    width:42px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../编辑节点_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:42px;
    top:20px;
    width:56px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../编辑节点_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:98px;
    top:20px;
    width:126px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../编辑节点_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:224px;
    top:20px;
    width:138px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../编辑节点_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:362px;
    top:20px;
    width:100px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../编辑节点_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:462px;
    top:20px;
    width:100px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:230px;
    top:218px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:161px;
    top:218px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_selected {
    background-image: url('../编辑节点_files/u34_selected.png');
}

.u34_normal {
    background-image: url('../编辑节点_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:53px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:54px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../编辑节点_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:148px;
    top:106px;
    width:680px;
    height:31px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:37px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:813px;
    top:111px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

