body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:195px;
    top:39px;
    width:233px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:35px;
    top:43px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:264px;
    top:74px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:195px;
    top:74px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u4 {
    position:absolute;
    left:35px;
    top:117px;
    width:596px;
    height:57px
}

.u5_normal {
    background-image: url('../新增分段参数_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../新增分段参数_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:41px;
    top:0px;
    width:126px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../新增分段参数_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:167px;
    top:0px;
    width:96px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../新增分段参数_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:263px;
    top:0px;
    width:134px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../新增分段参数_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:397px;
    top:0px;
    width:94px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../新增分段参数_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:491px;
    top:0px;
    width:100px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../新增分段参数_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:20px;
    width:41px;
    height:32px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:38px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../新增分段参数_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:41px;
    top:20px;
    width:126px;
    height:32px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:38px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../新增分段参数_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:167px;
    top:20px;
    width:96px;
    height:32px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:38px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../新增分段参数_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:263px;
    top:20px;
    width:134px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:38px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../新增分段参数_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:397px;
    top:20px;
    width:94px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:38px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../新增分段参数_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:491px;
    top:20px;
    width:100px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:545px;
    top:145px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:84px;
    top:141px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:315px;
    top:141px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

