<div>
    <table height=100>

    </table>

</div>
<form action="" method="post">

<div align="center">
    <table>

        <tr>
            <td>
                系统名称：
            </td>
            <td>
                <select  id="projectName" name="projectName">
                    <option value ="mdm">主数据管理系统</option>
                    <option value ="jfgl">积分管理系统</option>
                    <option value ="pdqc" selected=true>成品外观检查</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                用户名：
            </td>
            <td>
                <input type="text" id="id" name="id" />
            </td>
        </tr>
        <tr>
            <td>
                密码：
            </td>
            <td>
                <input type="password" id="pwd" name="pwd" />
            </td>
        </tr>
    </table>

</div>
<br>
<div align="center">
    <input type="button" id="Submit" name="Submit" value="登录" />
</div>
</form>