<div>
    <table height=100>

    </table>

</div>
<form action="" method="post">

<div align="center">
    <table>
        <tr>
            <td>
                原密码：
            </td>
            <td>
                <input type="password" id="pwd" name="pwd" />
            </td>
        </tr>
        <tr>
            <td>
                新密码：
            </td>
            <td>
                <input type="password" id="modifyPwd" name="modifyPwd" />
            </td>
        </tr>
        <tr>
            <td>
                确认密码：
            </td>
            <td>
                <input type="password" id="checkPwd" name="checkPwd" />
            </td>
        </tr>
    </table>

</div>
<br>

<div align="center">
    <input type="button" id="Submit" name="Submit" value="修改" />
</div>
</form>