<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
<!--<input>标签按钮-->
<div class="btn" onclick="addline('var-define');">变量定义</div>
<div id="var-define"></div>
<input class="bgbtn add btn" type="button" onclick="addline('var-define');"/>
<br>
<br>
<br>
<div class="btn" onclick="addline('con-decide');">条件判断</div>
<div id="con-decide"></div>
<input class="bgbtn add btn" type="button" onclick="addline('con-decide');"/>
<br>
<br>
<br>
<div class="btn" onclick="addline('rule-action');">规则动作</div>
<div id="rule-action"></div>
<input class="bgbtn add btn" type="button" onclick="addline('rule-action');"/>

<br>
<br>
<br>
<div class="btn" >规则注释</div>
<div id="rule-memo">
    <textarea name="yj" cols="50" rows="10">执行结果：</textarea>
</div>

</body>
</html>