
<input type="button" class="button" value="显示tip消息" onclick='$.window.showModalDialog("显示全新界面", "kendoui.jsp");' />
<input type="button" class="button" value="关闭tip消息" onclick='$.window.showModalDialog("基于模态窗口显示", "kendoui_bak.jsp");' />
<input type="button" class="button" value="显示系统加载处理tip消息" onclick="$.ui.showProgressTip();" />
<input type="button" class="button" value="显示提示消息" onclick="alert('刘溪滨，您好！');" />
<input type="button" class="button" value="单态显示确认消息" onclick='confirm("您确定要删除选中的记录?", 1);' />
<input type="button" class="button" value="二态确认消息" onclick='confirm("您确定要删除选中的记录?");' />
<input type="button" class="button" value="三态确认消息" onclick='confirm("您确定要删除选中的记录?", 3, {yesHandle: function(){alert("您选中了删除记录操作")}, noHandle: function(){alert("您选中了取消操作")}});' />
<form>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
hello JQ.MOBI<br>
</form>