body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u2_selected {
    background-image: url('../转换树_files/u2_selected.png');
}

.u2_normal {
    background-image: url('../转换树_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u5 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u7_selected {
    background-image: url('../转换树_files/u2_selected.png');
}

.u7_normal {
    background-image: url('../转换树_files/u2_normal.png');
}

.u7_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:22px;
    top:0px;
    width:119px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u10 {
    position:absolute;
    left:3px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u13 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u16 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u21_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u21_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u22 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u25 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u27_selected {
    background-image: url('../转换树_files/u2_selected.png');
}

.u27_normal {
    background-image: url('../转换树_files/u2_normal.png');
}

.u27_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:22px;
    top:0px;
    width:140px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u33 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_selected {
    background-image: url('../转换树_files/u2_selected.png');
}

.u47_normal {
    background-image: url('../转换树_files/u2_normal.png');
}

.u47_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u48 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u49_container {
    position:absolute;
    left:22px;
    top:0px;
    width:112px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:26px;
}

.u50 {
    position:absolute;
    left:3px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u66 {
    position:absolute;
    left:124px;
    top:450px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

