body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:36px;
    top:70px;
    width:850px;
    height:45px
}

.u1_normal {
    background-image: url('../单笔测试_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../单笔测试_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:41px;
    top:0px;
    width:56px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../单笔测试_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:97px;
    top:0px;
    width:133px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../单笔测试_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:230px;
    top:0px;
    width:138px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../单笔测试_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:368px;
    top:0px;
    width:95px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../单笔测试_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:463px;
    top:0px;
    width:100px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../单笔测试_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:563px;
    top:0px;
    width:94px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../单笔测试_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:656px;
    top:0px;
    width:95px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../单笔测试_files/u13_normal.png');
}

.u17_container {
    position:absolute;
    left:751px;
    top:0px;
    width:94px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../单笔测试_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:20px;
    width:41px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../单笔测试_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:41px;
    top:20px;
    width:56px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../单笔测试_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:97px;
    top:20px;
    width:133px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../单笔测试_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:230px;
    top:20px;
    width:138px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../单笔测试_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:368px;
    top:20px;
    width:95px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../单笔测试_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:463px;
    top:20px;
    width:100px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../单笔测试_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:563px;
    top:20px;
    width:94px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../单笔测试_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:656px;
    top:20px;
    width:95px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../单笔测试_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:751px;
    top:20px;
    width:94px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:35px;
    top:35px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:111px;
    top:35px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:190px;
    top:35px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:266px;
    top:35px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

