body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:137px;
    top:36px;
    width:149px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:38px;
    top:40px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:307px;
    top:40px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:16px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:0px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:46px;
    top:85px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:122px;
    top:85px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:201px;
    top:85px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:359px;
    top:85px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u11 {
    position:absolute;
    left:38px;
    top:132px;
    width:564px;
    height:205px
}

.u12_normal {
    background-image: url('../修改决策表_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../修改决策表_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:41px;
    top:0px;
    width:126px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../修改决策表_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:167px;
    top:0px;
    width:120px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../修改决策表_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:287px;
    top:0px;
    width:134px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../修改决策表_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:421px;
    top:0px;
    width:138px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../修改决策表_files/u12_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:20px;
    width:41px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../修改决策表_files/u14_normal.png');
}

.u24_container {
    position:absolute;
    left:41px;
    top:20px;
    width:126px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../修改决策表_files/u16_normal.png');
}

.u26_container {
    position:absolute;
    left:167px;
    top:20px;
    width:120px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../修改决策表_files/u18_normal.png');
}

.u28_container {
    position:absolute;
    left:287px;
    top:20px;
    width:134px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../修改决策表_files/u20_normal.png');
}

.u30_container {
    position:absolute;
    left:421px;
    top:20px;
    width:138px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../修改决策表_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:40px;
    width:41px;
    height:32px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:38px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../修改决策表_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:41px;
    top:40px;
    width:126px;
    height:32px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:38px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../修改决策表_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:167px;
    top:40px;
    width:120px;
    height:32px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:38px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../修改决策表_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:287px;
    top:40px;
    width:134px;
    height:32px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:38px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../修改决策表_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:421px;
    top:40px;
    width:138px;
    height:32px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:38px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../修改决策表_files/u32_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:72px;
    width:41px;
    height:32px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:38px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../修改决策表_files/u34_normal.png');
}

.u44_container {
    position:absolute;
    left:41px;
    top:72px;
    width:126px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:38px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../修改决策表_files/u36_normal.png');
}

.u46_container {
    position:absolute;
    left:167px;
    top:72px;
    width:120px;
    height:32px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:38px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../修改决策表_files/u38_normal.png');
}

.u48_container {
    position:absolute;
    left:287px;
    top:72px;
    width:134px;
    height:32px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:38px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../修改决策表_files/u40_normal.png');
}

.u50_container {
    position:absolute;
    left:421px;
    top:72px;
    width:138px;
    height:32px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:38px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../修改决策表_files/u32_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:104px;
    width:41px;
    height:32px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:38px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../修改决策表_files/u34_normal.png');
}

.u54_container {
    position:absolute;
    left:41px;
    top:104px;
    width:126px;
    height:32px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:38px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../修改决策表_files/u36_normal.png');
}

.u56_container {
    position:absolute;
    left:167px;
    top:104px;
    width:120px;
    height:32px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:38px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../修改决策表_files/u38_normal.png');
}

.u58_container {
    position:absolute;
    left:287px;
    top:104px;
    width:134px;
    height:32px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:38px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../修改决策表_files/u40_normal.png');
}

.u60_container {
    position:absolute;
    left:421px;
    top:104px;
    width:138px;
    height:32px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:38px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../修改决策表_files/u32_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:136px;
    width:41px;
    height:32px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:38px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../修改决策表_files/u34_normal.png');
}

.u64_container {
    position:absolute;
    left:41px;
    top:136px;
    width:126px;
    height:32px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:38px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../修改决策表_files/u36_normal.png');
}

.u66_container {
    position:absolute;
    left:167px;
    top:136px;
    width:120px;
    height:32px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:38px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../修改决策表_files/u38_normal.png');
}

.u68_container {
    position:absolute;
    left:287px;
    top:136px;
    width:134px;
    height:32px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:38px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../修改决策表_files/u40_normal.png');
}

.u70_container {
    position:absolute;
    left:421px;
    top:136px;
    width:138px;
    height:32px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:38px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../修改决策表_files/u32_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:168px;
    width:41px;
    height:32px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:38px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../修改决策表_files/u34_normal.png');
}

.u74_container {
    position:absolute;
    left:41px;
    top:168px;
    width:126px;
    height:32px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:38px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../修改决策表_files/u36_normal.png');
}

.u76_container {
    position:absolute;
    left:167px;
    top:168px;
    width:120px;
    height:32px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:38px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../修改决策表_files/u38_normal.png');
}

.u78_container {
    position:absolute;
    left:287px;
    top:168px;
    width:134px;
    height:32px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:38px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../修改决策表_files/u40_normal.png');
}

.u80_container {
    position:absolute;
    left:421px;
    top:168px;
    width:138px;
    height:32px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:38px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:214px;
    top:176px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:91px;
    top:176px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:338px;
    top:176px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:476px;
    top:176px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:214px;
    top:208px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:91px;
    top:208px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:338px;
    top:208px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:476px;
    top:208px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:214px;
    top:240px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:91px;
    top:240px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:338px;
    top:240px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99 {
    position:absolute;
    left:476px;
    top:240px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:214px;
    top:272px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:91px;
    top:272px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:338px;
    top:272px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:476px;
    top:272px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:214px;
    top:304px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u107 {
    position:absolute;
    left:91px;
    top:304px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:338px;
    top:304px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111 {
    position:absolute;
    left:476px;
    top:304px;
    width:101px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:214px;
    top:132px;
    width:97px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:338px;
    top:132px;
    width:97px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116 {
    position:absolute;
    left:476px;
    top:132px;
    width:97px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117_menu {
    background-image: url('../修改决策表_files/u117_menu.png');
}

.u117_menu {
    position:absolute;
    left:531px;
    top:92px;
    width:115px;
    height:55px;
}

#u117_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:52px;
}

#u118 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:45px
}

.u119_normal {
    background-image: url('../修改决策表_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../修改决策表_files/u119_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:282px;
    top:85px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

