<!--标题区域-->
<div id="simplelist_header" class="text-info" style="box-sizing: border-box; height: 30px;padding-top: 5px;padding-left: 5px;color: #0078d2;  "></div>
<!--工具栏-查询区域-->
<div  id="simplelist_toolbar_condition" class="navbar navbar-inner" style="height: 38px;min-height: 30px; " >
        <span id="simplelist_toolbar" class="pull-left" style="padding: 3px;" ></span>
        <span  id="simplelist_condition" class="pull-right" style="..."></span>
</div>
<!--列表区域-->
<div style="top:1px;bottom: 3px;position: absolute;box-sizing: border-box;">
    <div id="simplelist_list" style="..."></div>
</div>